@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

h1{
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 3.1125rem;
}
h3{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 1.375rem;
}
p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  color: #808080;
}
#navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 120px;
    max-width: 1140px;
    margin: auto;
}
.navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    font-size: 1.25rem;
}
.navbar-links li{
    list-style: none;

}
.navbar-links li a{
    text-decoration: none;
    color: #000000;
}
.dark-grey a{
    color:#252432 !important;
}
.grey a{
    color: #8987A1 !important;
}

.bold{
    font-weight: 700;
}
#banner{
    display: flex;
    margin-bottom: 120px;
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;
}
.banner-desc{
    max-width: 570px;
}
.banner-desc h1{
    font-size: 4rem;
    text-transform: uppercase;
}
span{
    color: #E95A08;
}
@media screen and (max-width: 576px) {

    .dark-grey, .grey{
        display: none;
    }
    #navbar{
        margin: 28px 16px;
    }
    #banner{
        flex-direction: column-reverse;
        margin-bottom: 65px;
    }
    .banner-desc h1{
        font-size: 1.5rem;
        max-width: 200px ;
    }
    .banner-desc p{
        font-size: 0.875rem;
    }
    .banner-img img{
        margin-bottom: 28px;
        width: 100%;
        margin-top: -60px;
    }
    .banner-desc{
        margin-left: 16px;
        margin-right: 16px;
    }
}

#Our_Plants{
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;
}
.top-of-section{
    text-align: center;
    max-width: 888px;
    margin: auto;
    margin-bottom: 50px;
}
.plant-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
}
.card{
    margin-bottom: 30px;
}
.card p{
    text-align: center;
    color: #111111;
}
.price{
    font-weight: 700;
}
.primary-btn{
    background-color: #E95A08;
    color: #FFFFFF;
    width: 95%;
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
    padding: 20px;
    cursor: pointer;
    border: none;
} 

@media screen and (max-width: 576px) {
    #Our_Plants {
    margin: 0 16px 60px 16px;
 }

    .top-of-section h1 {
        font-size: 1.8rem;
    }

    .top-of-section p {
        font-size: 1rem;
        padding: 0 8px;
    }
    .plant-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .card img {
        width: 100%;
        height: auto;
    }
    .primary-btn{
        width: 100%;
    }
}

#Plant_Lover{
    display: flex;
    gap: 60px;
    position: relative;
    max-width: 1140px;
    margin: auto;
    margin-top: 170px;
}
#Plant-Lover img{
        max-width: 100%;
    }

.Plant-lover-details li{
    list-style: disc;
}
.badge{
    position: absolute;
    top: -140px;
    left: 350px;
    height: 286px;
    animation: rotate 11s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 576px) {
    #Plant_Lover{
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-top: -30px;
    }
    .Love-Plant-Pic{
        width: 100%;
    }
    .Plant-lover-details{
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .Plant-lover-details h1{
        font-size: 1.5rem;
    }
    .Plant-lover-details p{
        font-size: 0.875rem;
    }
    .badge{
        display: none;
    }
}
#join_with_us{
    margin-top: 120px;
    margin-bottom: 50px;
}
.Join-container{
    background-image: url(assets/news-letter-bg.png);
    text-align: center;
    color: #FFFFFF;
    padding: 150px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.Join-container h1{
    margin-top: -20px;
}
#email{
    padding: 15px 20px;
    width: 35%;
}
#button{
    width: 20%;
    transform: translateX(-5px);
    color: #FFFFFF;
    background-color: #E95A08;
    padding: 15px 10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 576px) {
    .Join-container h1{
    margin-top: 20px;
    font-size: 1.375rem;
}
.Join-container{
    background-size: contain;
    padding: 50px 0;
    margin-top: -60px;
}

}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    max-width: 360px;
}
.imp-links{
    list-style: none;
    display: flex;
    gap: 80px;
   
}
.imp-links li{
    padding-bottom: 25px;
    margin-right: 80px
}
.imp-links li a{
    text-decoration: none;
    color: #8987A1
}

.social-icons img{
    margin-left: 30px;
}
.x-icon{
   height: 30px;
}